/* GLOBAL RESET */
body {
  box-sizing: border-box;

  font-family: var(--primary-font);
  font-size: 16px;
  color: var(--text-black);

  background-color: var(--bg-white);

  &.lock {
    overflow: hidden;
  }

  position: relative;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

a {
  outline: none;
  display: inline-block;

  color: inherit;
  text-decoration: none;

  transition-duration: 250ms;
  transition-timing-function: ease;
}

button {
  display: inline-block;

  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;

  box-shadow: 0px;
  background-color: transparent;

  font-family: inherit;
  color: inherit;
  fill: currentColor;

  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  color: inherit;
}

ul {
  padding: 0px;
  margin: 0px;

  list-style: none;
}

address {
  font-style: normal;
}

/* CONTAINER */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px 16px;

  @media screen and (max-width: 479) {
    width: 320px;
  }

  @media screen and (min-width: 480) {
    width: 320px;
  }
  @media screen and (min-width: 768) {
    width: 736px;
    padding: 0px 16px;
  }
  @media screen and (min-width: 1280) {
    width: 1200px;
  }
}

/* SECTION */
.section-container {
  padding: 100px 0px;

  @media screen and (min-width: 768) {
    padding: 80px 0px;
  }
  @media screen and (min-width: 1280) {
    padding: 100px 0px;
  }
}

/* SECTION TITLE */
.section-title {
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-red);
  text-align: center;
  font-family: var(--title-font);
  flex-shrink: 0;

  @media screen and (max-width: 768) {
    font-size: 34px;
    letter-spacing: 1.36px;
  }
  @media screen and (min-width: 768) {
    font-size: 48px;
    letter-spacing: 1.92px;
  }
  @media screen and (min-width: 1280) {
    font-size: 58px;
    letter-spacing: 3.48px;
  }
}

.section-label {
  color: var(--text-rose);
  text-align: center;
  font-family: var(--title-font);
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;

  @media screen and (min-width: 768) {
    font-size: 26px;
  }
  @media screen and (min-width: 1280) {
    font-size: 30px;
    letter-spacing: 1.2px;
  }
}

/* IS-HIDDEN */
.is-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;

  margin: -1px;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);

  overflow: hidden;
  pointer-events: none;
}

/* NO-SCROLL */
.no-scroll {
  overflow-y: hidden;
  padding-right: 15px;
}

// Scroll To Top

@mixin setScrolltopColors(
  $bgColor: #333,
  $arrowColor: white,
  $bgColorHover: $bgColor,
  $arrowColorHover: $arrowColor
) {
  #scrolltop-bg {
    fill: $bgColor;
  }
  #scrolltop-arrow {
    fill: $arrowColor;
  }
  a:hover {
    #scrolltop-bg {
      fill: $bgColorHover;
    }
    #scrolltop-arrow {
      fill: $arrowColorHover;
    }
  }
}
.scrolltop-wrap {
  $size: 3rem;
  $offsetBottom: 2rem;
  $offsetHorizontal: 2rem;
  $scrollToRevealDistance: 2rem; // 12rem; scroll offset to reveal scroll-to-top link
  $color: #007bff;
  box-sizing: border-box;
  position: absolute;
  top: $scrollToRevealDistance;
  right: $offsetHorizontal;
  bottom: 0;
  pointer-events: none;
  backface-visibility: hidden;
  @include setScrolltopColors($color, white, lighten($color, 8%));
  // prevent extra page height if content is smaller than viewport
  // Firefox only
  @supports (-moz-appearance: meterbar) {
    clip: rect(0, $size, auto, 0);
  }
  a {
    $offset: -($size + $offsetBottom); // pull up + add a small bottom space
    position: fixed; // fallback
    position: sticky;
    top: $offset;
    width: $size;
    height: $size;
    margin-bottom: $offset;
    transform: translateY(100vh); // push to bottom from top (when stuck)
    backface-visibility: hidden;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    pointer-events: all;
    outline: none;
    overflow: hidden;
    svg {
      display: block;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      path {
        transition: all 0.1s;
      }
    }
    #scrolltop-arrow {
      transform: scale(0.66);
      transform-origin: center;
    }
  }
  @media print {
    display: none !important;
  }
}
html {
  overflow-y: scroll;
  overflow-x: hidden;
  &::before {
    content: '';
    display: block;
    backface-visibility: hidden;
    position: fixed;
    top: 0;
    right: -5px;
    bottom: 0;
    left: -5px;
    background: url('https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260')
      center center no-repeat;
    background-size: cover;
    filter: brightness(1.14) blur(2px);
  }
}

label {
  display: inline-block;
  //float: left;
  margin-right: -1px;
  padding: 0.4rem 0.9rem 0.6rem;
  border: 1px solid rgba(#b2b7bb, 0.99);
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s;
  font-size: 96%;
  font-weight: 600;
  width: 50%;
  span {
    font-size: 0.86rem;
    line-height: 1.33rem;
    display: block;
    font-weight: 400;
  }
  &:hover {
    color: #1e8aff;
    border-color: darken(#b2b7bb, 6%);
  }
}
