<section class="section-about" id="how">
  <div class="container about-container">
    <h2 class="section-label">
      tradition and love <br />
      <span class="section-title">how it's made</span>
    </h2>
  </div>
</section>
<section class="section-table">
  <div class="container table-container">
    <h2 class="is-hidden">Section Table</h2>

    <div class="section-wrapper">
      <div class="about-figure col">
        <img src="/src/images/home-pic4 1.png" alt="cow" />
      </div>
      <div class="about-details col">
        <p class="dark-text gap-32">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="light-text gap-40">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <!--
        <div class="button btn_read-more"> -->
        <div class="button btn_read-more">
          <button type="button" class="readmore-button">
            <p class="readmore-button-text">Read more</p>
            <div>
              <svg width="20" height="10" class="icon-readmore-arrow-button">
                <use href="/src/images/symbol-defs.svg#icon-arrow-button"></use>
              </svg>
            </div>
          </button>

          <!--
            <a>Read more </a>
          </div>
          <div>
            <svg class="icon_read-more" width="10" height="20">
              <use href="/src/images/symbol-defs.svg#icon-arrow-button"></use>
            </svg>
            -->
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</section>
