<section class="section-advantages" id="advantages">
  <div class="container advantages-container">
    <!--<p class="sample">Section - ADVANTAGES</p>-->
      <ul class="advantages-ul">
        <li class="advantages-li li-1">
          <div>
            <a>
              <img src="./images/Frame 4.png" width="50" height="50">
            </a>
          </div>
          <div class="advantages-mid-text">
            <p class="advantages-721">721</p>
          </div>
          <div>
            <p class="advantages-low-text low-text1">At 721 Cow, we're passionate about
            producing the highest quality ice
            cream possible.
            </p>
          </div>
        </li>

        <li class="advantages-li li-2">
          <div>
            <a>
              <img src="./images/apples-svgrepo-com 1.png" width="50" height="50">
            </a>
          </div>
          <div class="advantages-mid-text">
            <p class="advantages-16">16kg</p>
          </div>
          <div>
            <p class="advantages-low-text low-text2">You can be sure you're getting a scoop
              of the freshest ice cream around.
            </p>
          </div>
        </li>

        <li class="advantages-li li-3">
          <div>
            <a>
              <img src="./images/Group.png" width="44" height="50">
            </a>
          </div>
          <div class="advantages-mid-text">
          <p class="advantages-84">84</p>
          </div>
          <div>
            <p class="advantages-low-text low-text3">We use only the freshest, locally-
              sourced ingredients to make our 84 unique and delicious flavors.
            </p>
          </div>
        </li>
      </ul>
  </div>
</section>
