<section class="section-contact" id="contact">
  <div class="container contact-container">
    <div>
      <div>
        <p>CAFE</p>
        <p>Chicago</p>
        <p>Handcrafted coffee, baked goods</p>
        <p>and premium ice cream.</p>
      </div>
      <div>
        <p>Monday - Friday</p>
        <p>06:00 AM - 10:00 PM</p>
        <p>Saturday - Sunday</p>
        <p>08:00 AM - 16:00 PM</p>
      </div>
      <div>
        <a>+61(0) 383 766 284</a>
        <a>noreply@envato.com</a>
      </div>
    </div>
  </div>
</section>
