<section class="section-contact" id="contact">
  <div class="container contact-container">
    <div class="contact-details">
      <div class="contact-details-one">
        <p>CAFE</p>
        <p>Chicago</p>
        <p>Handcrafted coffee, baked goods</p>
        <p>and premium ice cream.</p>
      </div>
      <div class="contact-details-two">
        <p>Monday - Friday</p>
        <p>06:00 AM - 10:00 PM</p>
        <p>Saturday - Sunday</p>
        <p>08:00 AM - 16:00 PM</p>
      </div>
      <div class="contact-details-link">
        <a class="contact-number">+61(0) 383 766 284</a>
        <a class="contact-email">noreply@envato.com</a>
      </div>
    </div>
  </div>
</section>
