<section class="section-contact" id="contact">
  <div class="container contact-container">
    <div class="contact-details">
      <ul class="contact-details-ul">
          <li class="contact-details-li">
            <div class="contact-details-one">
              <h4 class="contact-header-cafe">CAFE</h4>
              <p class="contact-place">Chicago</p>
              <div class="contact-text">
                <p>Handcrafted coffee, baked goods</p>
                <p>and premium ice cream.</p>
              </div>
            </div>
            <div class="contact-icon-Vector-line">
                <svg class="icon icon-Vector-line">
                  <use href="/src/images/symbol-defs.svg#icon-Vector-line"></use>
                </svg>
            </div>
            <div class="contact-details-two">
              <p class="contact-day">Monday - Friday</p>
              <p class="contact-time">06:00 AM - 10:00 PM</p>
              <p class="contact-day">Saturday - Sunday</p>
              <p class="contact-time">08:00 AM - 16:00 PM</p>
            </div>
            <div class="contact-details-link">
              <a class="contact-number">+61(0) 383 766 284</a>
                <a class="contact-email">noreply@envato.com</a>
            </div>
          </li>
          <li class="contact-details-li">
            <div class="contact-details-one">
              <h4 class="contact-header-truck">FOOD TRUCK</h4>
              <p class="contact-place">Los Angeles</p>
              <div class="contact-text">
                <p>Fusion cuisine and refreshing</p>
                <p>ice cream made with passion.</p>
              </div>
            </div>
            <div class="contact-icon-Vector-line">
              <svg class="icon icon-Vector-line">
                <use href="/src/images/symbol-defs.svg#icon-Vector-line"></use>
              </svg>
            </div>
            <div class="contact-details-two">
              <p class="contact-day">Monday - Friday</p>
              <p class="contact-time">06:00 AM - 10:00 PM</p>
              <p class="contact-day">Saturday - Sunday</p>
              <p class="contact-time">08:00 AM - 16:00 PM</p>
            </div>
            <div class="contact-details-link">
              <a class="contact-number">+61(0) 383 766 284</a>
              <a class="contact-email">noreply@envato.com</a>
            </div>
          </li>
          <li class="contact-details-li">
            <div class="contact-details-one">
              <h4 class="contact-header-cafe">CAFE</h4>
              <p class="contact-place">New York</p>
              <div class="contact-text">
                <p>Specialty teas, artisanal pastries</p>
                <p>mouth-watering ice cream.</p>
              </div>
            </div>
            <div class="contact-icon-Vector-line">
              <svg class="icon icon-Vector-line">
                <use href="/src/images/symbol-defs.svg#icon-Vector-line"></use>
              </svg>
            </div>
            <div class="contact-details-two">
              <p class="contact-day">Monday - Friday</p>
              <p class="contact-time">06:00 AM - 10:00 PM</p>
              <p class="contact-day">Saturday - Sunday</p>
              <p class="contact-time">08:00 AM - 16:00 PM</p>
            </div>
            <div class="contact-details-link">
              <a class="contact-number">+61(0) 383 766 284</a>
              <a class="contact-email">noreply@envato.com</a>
            </div>
          </li>
      </ul>
      <div class="contact-button">
        <div>
        <button type="button" class="location-button">
          <p class="location-button-text">Our Location</p>
        </div>
        <div>
          <svg width="4.43" heigth="8" class="icon icon-contact-arrow-button">
            <use href="/src/images/symbol-defs.svg#icon-arrow-button"></use>
          </svg>
        </div>
        </button>
        <button type="button" class="franchise-button">Franchise</button>
      </div>
    </div>
  </div>
</section>
