<section class="section_customer-reviews" id="customer-reviews">
  <div
    class="container customer-reviews_container"
    data-aos="flip-left"
    data-aos-easing="linear"
    data-aos-duration="1000"
  >
    <div class="swiper mySwiper">
      <h2 class="is-hidden">Customer reviews</h2>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <!-- Customer Review #1 -->
          <article class="article-container">
            <img
              src="/src/images/customer-reviews/avatar1-img-desktop.png"
              alt="avatar1"
            />
            <div class="bg-container">
              <p class="article-text">
                I love visiting your cafe. You prepare the most delicious ice
                cream in Los Angeles! In addition, you have beautiful serving,
                cozy atmosphere and polite staff.
              </p>
            </div>
            <h3 class="article-name">Emily, Los Angeles</h3>
          </article>
        </div>
        <!-- Customer Review #1 -->
        <div class="swiper-slide">
          <article class="article-container">
            <img
              src="/src/images/customer-reviews/avatar2-img-desktop.png"
              alt="avatar2"
            />
            <div class="bg-container">
              <p class="article-text">
                I love visiting your cafe. You prepare the most delicious ice
                cream in Los Angeles! In addition, you have beautiful serving,
                cozy atmosphere and polite staff.
              </p>
            </div>
            <h3 class="article-name">Emily, Los Angeles</h3>
          </article>
        </div>
        <!-- Customer Review #1 -->
        <div class="swiper-slide">
          <article class="article-container">
            <img
              src="/src/images/customer-reviews/avatar3-img-desktop.png"
              alt="avatar3"
            />
            <div class="bg-container">
              <p class="article-text">
                I love visiting your cafe. You prepare the most delicious ice
                cream in Los Angeles! In addition, you have beautiful serving,
                cozy atmosphere and polite staff.
              </p>
            </div>
            <h3 class="article-name">Emily, Los Angeles</h3>
          </article>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<!-- May -->
