<section class="section-footer" id="footer">
  <div class="container footer-container">
    <div class="footer-wrapper">
      <div
        class="footer-items"
        data-aos="fade-right"
        data-aos-easing="linear"
        data-aos-duration="500"
      >
        <h2 class="section-label footer-label">
          homemade ice cream made
          <span class="section-title footer-title">with passion</span>
        </h2>
      </div>
      <div
        class="socmed-items"
        data-aos="fade-left"
        data-aos-easing="linear"
        data-aos-duration="500"
      >
        <div class="socmed-icons">
          <div class="socmed-icons_1">
            <a
              class="footer-soc-link link"
              href="https://github.com/"
              target="_blank"
            >
              <svg class="command-soc-icon1" width="32" height="32">
                <use href="/src/images/symbol-defs.svg#icon-github"></use>
              </svg>
              <svg class="command-soc-icon2" width="32" height="32">
                <use href="/src/images/symbol-defs.svg#icon-github-red"></use>
              </svg>
            </a>
          </div>
          <div class="socmed-icons_2">
            <a
              class="footer-soc-link link"
              href="https://telegram.com/"
              target="_blank"
            >
              <svg class="command-soc-icon1">
                <use href="/src/images/symbol-defs.svg#icon-telegram"></use>
              </svg>
              <svg class="command-soc-icon2">
                <use href="/src/images/symbol-defs.svg#icon-telegram-red"></use>
              </svg>
            </a>
          </div>
          <div class="socmed-icons_3">
            <a
              class="footer-soc-link link"
              href="https://www.facebook.com/"
              target="_blank"
            >
              <svg class="command-soc-icon1">
                <use href="/src/images/symbol-defs.svg#icon-facebook"></use>
              </svg>
              <svg class="command-soc-icon2">
                <use href="/src/images/symbol-defs.svg#icon-facebook-red"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="footer-contact">
          <p class="footer-contact-txt">
            Feel free to contact
            <span
              ><a href="tel:+61(0)383766284" class="footer-contact-no">
                +61(0) 383 766 284
              </a>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="footer-vector">
      <svg>
        <use href="/src/images/symbol-defs.svg#icon-vector-line"></use>
      </svg>
    </div>
    <div class="footer-trademark">
      <div class="copyright">
        <p class="copyright-text">
          &copy; 2022 - IceCream. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Mark Josep Asejo -->
