<section class="section section-footer">
  <div class="container footer-container">
    <div class="footer-items">
      <div class="footer-items-text">
        <p class="homemade-ice-cream">homemade ice cream made</p>
        <p class="with-passion">with passion</p>
      </div>
      <div class="socmed-items">
        <div class="socmed-icons">
          <div class="socmed-icons_1">
            <svg class="" width="34px" height="34px">
              <use href="/src/images/symbol-defs.svg#icon-github"></use>
            </svg>
          </div>
          <div class="socmed-icons_2">
            <svg class="" width="34px" height="34px">
              <use href="/src/images/symbol-defs.svg#icon-telegram"></use>
            </svg>
          </div>
          <div class="socmed-icons_3">
            <svg class="" width="34px" height="34px">
              <use href="/src/images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </div>
        </div>
        <div class="footer-contact">
          <p class="footer-contact-text">
            Feel free to contact
            <a class="footer-contact-no" href="#">+61 (0) 383 766 284</a>
          </p>
        </div>
      </div>
    </div>

    <div class="footer-vector">
      <svg>
        <use href="/src/images/symbol-defs.svg#icon-vector-line"></use>
      </svg>
    </div>

    <div class="copyright">
      <p class="copyright-text">&copy; 2022 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</section>
