<section class="section-footer">
  <div class="container footer-container">
   
   <div class="">
    <span class="homemade-cream">homemade ice cream made</span> <br> <span class="passion-with">with passion</span>
   </div>
   
     <div class="socmed-icons">
      <svg class="" width="34px" height="34px">
        <use href="/src/images/symbol-defs.svg#icon-github"></use>
      </svg>
      <svg class="" width="34px" height="34px">
        <use href="/src/images/symbol-defs.svg#icon-telegram"></use>
      </svg>
      <svg class="" width="34px" height="34px">
        <use href="/src/images/symbol-defs.svg#icon-facebook"></use>
      </svg>
     </div>
    
    <div class="footer-contact">
      <p>Feel free to contact <a href="#">+61 (0) 383 766 284</a></p>
    </div>
   
   <div class="copyright">
    <p>&copy; 2022 - IceCream. All Rights Reserved.</p>
   </div>
  </div>
</section>