<section class="section-gallery" id="gallery">
  <div class="container gallery-container">
    <div class="gallery-col1">
      <img src="/src/images/gallery1.jpg" alt="" />
    </div>
    <div class="gallery-col2">
      <img src="/src/images/gallery2.jpg" alt="" />
      <img src="/src/images/gallery3.jpg" alt="" />
    </div>
    <div class="gallery-col3">
      <img src="/src/images/gallery4.jpg" alt="" />
      <img src="/src/images/gallery5.jpg" alt="" />
    </div>
    <div class="gallery-col4">
      <img src="/src/images/gallery6.jpg" alt="" />
      <img src="/src/images/gallery7.jpg" alt="" />
    </div>
    <div class="gallery-col5">
      <img src="/src/images/gallery8.jpg" alt="" />
      <img src="/src/images/gallery9.jpg" alt="" />
    </div>
    <div class="gallery-col6">
      <img src="/src/images/gallery10.jpg" alt="" />
    </div>
  </div>
</section>
