<header class="header" id="home">
  <section class="section-hero-header">
    <div class="container hero-header-container">
      <div class="container container-header">
        <div class="header-wrapper">
          <div class="nav-container">
            <nav class="nav-header">
              <div class="nav-element">
                <a href="./index.html" class="header-logo">
                  <svg class="icon_logo" width="199" height="50">
                    <use
                      href="/src/images/symbol-defs.svg#icon-logo_iconice-cream"
                    ></use>
                  </svg>
                </a>
              </div>
              <div class="nav-element">
                <ul class="navbar-list list" id="navbar">
                  <li class="navbar-item">
                    <a href="#home" class="navbar-link current">Home</a>
                  </li>
                  <li class="navbar-item">
                    <a href="#about" class="navbar-link link">About us</a>
                  </li>
                  <li class="navbar-item">
                    <a href="#how" class="navbar-link link">How it's made?</a>
                  </li>
                  <li class="navbar-item">
                    <a href="#products" class="navbar-link link"
                      >Our products</a
                    >
                  </li>
                  <li class="navbar-item">
                    <a href="#contact" class="navbar-link link">Contact</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="btn_burger">
            <button
              class="nav-menu-button"
              type="button"
              aria-expanded="false"
              aria-controls="mobile-menu"
              data-mobile-menu-open=""
            >
              <svg class="icon_burger">
                <use href="/src/images/symbol-defs.svg#icon-burger"></use>
              </svg>
            </button>
          </div>
          <div class="btn-container">
            <div class="button btn_buy-now">
              <div>
                <a>Buy now </a>
              </div>
              <div>
                <svg class="icon_buy-now" width="10" height="20">
                  <use
                    href="/src/images/symbol-defs.svg#icon-arrow-button"
                  ></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container container-hero">
        <div class="hero-wrapper" data-aos="fade-right">
          <h1 class="hero-title">
            ice cream <br />
            made with <br />
            <span class="hero-title-special">passion</span>
          </h1>

          <div class="hero-button-list">
            <div class="hero-button-item">
              <button type="button" class="btn-hero btn_products">
                <a href="#products" class="btn-hero-txt btn_products-text"
                  >Product</a
                >
              </button>
            </div>
            <div class="hero-button-item">
              <button type="button" class="btn-hero btn_howitsmade">
                <a href="#how" class="btn-hero-txt btn_howitsmade-text"
                  >How it's made?</a
                >
              </button>
            </div>
          </div>
          <div class="hero-wrapper-info">
            <div class="hero-info-milk">
              <img
                class="hero-image_2nd-set img_milk"
                data-aos="fade-up-right"
                src="/src/images/slider-pic5 1.png"
                alt="milk"
              />
              <div class="hero-info-txt">
                <div class="hero-wrapper-text">
                  <h2 class="hero-text">
                    Indulge in a scoop of ice <br />
                    cream made with passion and <br />
                    treat your taste buds to an <br />
                    unforgettable experience!
                  </h2>
                  <div>
                    <button type="button" class="button-circle-small">
                      <svg class="icon_arrow-right" width="10" height="10">
                        <use
                          href="/src/images/symbol-defs.svg#icon-arrow-button-circle"
                        ></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <ul class="hero-number-list" data-aos="fade-left">
              <li class="hero-number-item"><a class="hero-number"> 16</a></li>
              <li class="hero-number-item">
                <a class="hero-number-text">cafes</a>
              </li>
              <li class="hero-number-item"><a class="hero-number"> 23</a></li>
              <li class="hero-number-item">
                <a class="hero-number-text">food trucks</a>
              </li>
            </ul>
          </div>
          <div class="hero-image" data-aos="zoom-in">
            <div class="hero-image_1st-set img-circle"></div>
            <img
              class="hero-image_1st-set img_ice-cream"
              data-aos="fade-up-right"
              src="/src/images/slider-pic7 1.png"
              alt="ice cream"
            />
          </div>
          <div class="hero-image">
            <img
              class="hero-image_1st-set img_lady-lick"
              data-aos="fade-up-left"
              src="/src/images/slider-pic4 1.png"
              alt="lady licking ice cream"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- Mobile Menu-->
    <div class="mobile-menu" id="mobile-menu" data-mobile-menu>
      <div class="mm_container">
        <div class="mm_button" data-model-close>
          <a href="" class="mm_close-link">
            <svg class="mm_btn-icon-default" width="14" height="14">
              <use href="/src/images/symbol-defs.svg#icon-cross"></use>
            </svg>
            <svg class="mm_btn-icon-hover" width="14" height="14">
              <use href="/src/images/symbol-defs.svg#icon-home"></use>
            </svg>
          </a>
        </div>
        <div class="btn-container">
          <div class="button btn_mm-buy-now">
            <div>
              <a>Buy now </a>
            </div>
            <div>
              <svg class="icon_mm-buy-now" width="10" height="20">
                <use href="/src/images/symbol-defs.svg#icon-arrow-button"></use>
              </svg>
            </div>
          </div>
        </div>
        <nav>
          <!-- Mobile Menu NAV List -->
          <ul class="mm_nav-list">
            <li class="mm_nav-item mm_nav-title">
              <a href="#home" class="mm_nav-link mm_item mm_current">Home</a>
            </li>
            <li class="mm_nav-item mm_nav-title">
              <a href="#about" class="mm_nav-link mm_item mm_link">About us</a>
            </li>
            <li class="mm_nav-item mm_nav-title">
              <a href="#how" class="mm_nav-link mm_item mm_link"
                >How it's made?</a
              >
            </li>
            <li class="mm_nav-item mm_nav-title">
              <a href="#products" class="mm_nav-link mm_item mm_link"
                >Our products</a
              >
            </li>
            <li class="mm_nav-item mm_nav-title">
              <a href="#contact" class="mm_nav-link mm_item mm_link">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
  <section>
    <button onclick="topFunction()" id="myBtn" title="Go to top">
      <svg class="btn-icon_scroll-to-top-default">
        <use href="/src/images/symbol-defs.svg#icon-home-white"></use>
      </svg>
      <svg class="btn-icon_scroll-to-top-hover">
        <use href="/src/images/symbol-defs.svg#icon-home"></use>
      </svg>
    </button>
  </section>
</header>
