<header class="header">
  <section class="section-hero">
    <div class="container header-container">
      <nav class="nav-header">
        <div>
          <a href="./index.html" class="header-logo">
            <img
              src="./images/SVG/logo_icon+ice-cream.svg"
              alt="logo site"
              width="199"
              height="50"
            />
          </a>
        </div>
        <div>
          <ul class="navbar-list list">
            <li class="navbar-item">
              <a href="#home" class="navbar-link current">Home</a>
            </li>
            <li class="navbar-item">
              <a href="#about" class="navbar-link link">About us</a>
            </li>
            <li class="navbar-item">
              <a href="#how" class="navbar-link link">How it's made?</a>
            </li>
            <li class="navbar-item">
              <a href="#products" class="navbar-link link">Our products</a>
            </li>
            <li class="navbar-item">
              <a href="#contact" class="navbar-link link">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <div>
        <a class="button btn_buy-now">Buy now ></a>
      </div>
    </div>
  </section>
</header>
<section class="section-hero">
  <div class="container hero-container">
    <div class="hero-wrapper">
      <h1 class="hero-title">
        ice cream <br />
        made with <br />
        <span class="hero-title-special">passion</span>
      </h1>
      <ul class="hero-button-list">
        <li class="hero-button-item">
          <a href="#products" class="btn_hero button-hero-red">Products</a>
        </li>
        <li class="hero-button-item">
          <a href="#about" class="btn_hero button-hero-white">How it’s made?</a>
        </li>
      </ul>
      <div class="hero-wrapper-text">
        <h2 class="hero-text">
          Indulge in a scoop of ice <br />
          cream made with passion and <br />
          treat your taste buds to an <br />
          unforgettable experience!
        </h2>
        <button type="button" class="button-circle-small">
          <svg class="hero-icon">
            <use
              href="/src/images/symbol-defs.svg#icon-arrow-button-circle"
            ></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
