<section class="section-products" id="products">
  <div class="container products-container">
    <h2 class="section-label">
      100% Natural <br />
      <span class="section-title">Products</span>
    </h2>
    <div class="product-details">
      <div class="product-one product-card">
        <!-- Product Card #1 -->
        <div class="product-card-1 product-description">
          <p class="product-title">ICE CREAM</p>
          <svg class="icon_logo" width="24.84px" height="6px">
            <use href="/src/images/symbol-defs.svg#icon-marker"></use>
          </svg>
          <p class="product-text">
            Indulge in our rich and creamy ice cream, handcrafted with
            all-natural ingredients and available in a variety of flavors.
          </p>
          <div class="button-div button-div-1">
            <button type="button" class="button-circle-small button-one">
              <svg class="icon_arrow-right" width="20" height="20">
                <use
                  href="/src/images/symbol-defs.svg#icon-arrow-button-circle"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <!-- Product Card #2 -->
      <div class="product-two product-card">
        <div class="product-card-2 product-description">
          <p class="product-title">ICE COFFEE</p>
          <svg class="icon_logo" width="24.84px" height="6px">
            <use href="/src/images/symbol-defs.svg#icon-marker"></use>
          </svg>
          <p class="product-text">
            Refresh and energize with our perfectly brewed iced coffee, made
            with high-quality beans and served over ice.
          </p>
          <div class="button-div">
            <button type="button" class="button-circle-small">
              <svg class="icon_arrow-right" width="20" height="20">
                <use
                  href="/src/images/symbol-defs.svg#icon-arrow-button-circle"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <!-- Product Card #3 -->
      <div class="product-three product-card">
        <div class="product-card-3 product-description">
          <p class="product-title">MILKSHAKES</p>
          <svg class="icon_logo" width="24.84px" height="6px">
            <use href="/src/images/symbol-defs.svg#icon-marker"></use>
          </svg>
          <p class="product-text">
            Satisfy your sweet tooth with our thick, made with premium ice
            cream, topped with whipped cream and your favorite toppings.
          </p>
          <div class="button-div">
            <button type="button" class="button-circle-small">
              <svg class="icon_arrow-right" width="20" height="20">
                <use
                  href="/src/images/symbol-defs.svg#icon-arrow-button-circle"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Clifton -->
