<section class="section-products" id="products">
  <div class="container products-container">
    <h2>
      100% Natural <br />
      <span>Products</span>
    </h2>
    <div class="product-details">
      <div class="product-one">
        <p>ICE CREAM</p>
        <p>
          <svg class="icon_logo" width="24.84px" height="6px">
            <use href="/src/images/symbol-defs.svg#icon-marker"></use>
          </svg>
        </p>
        <p>
          Indulge in our rich and creamy ice <br />cream, handcrafted with
          all-natural <br />ingredients and available in a <br />variety of
          flavors.
        </p>
      </div>
    </div>
  </div>
</section>
