<section class="section-products" id="products">
  <div class="container products-container">
    <h2 class="subtitle">
      100% Natural <br />
      <span class="subtitle-special">Products</span>
    </h2>
    <div class="product-details">
      <div class="product-one product-card">
        <div class="image-container">
          <img
            class="product-image img_strawberry-icecream"
            src="/src/images/home-pic1.png"
            alt="strawberry icecream on a cone"
          />
        </div>
        <div class="product-card-1 product-description">
          <p class="product-title">ICE CREAM</p>

          <svg class="icon_logo" width="24.84px" height="6px">
            <use href="/src/images/symbol-defs.svg#icon-marker"></use>
          </svg>

          <p class="product-text">
            Indulge in our rich and creamy ice <br />cream, handcrafted with
            all-natural <br />ingredients and available in a <br />variety of
            flavors.
          </p>
          <div class="button-div">
            <button type="button" class="button-circle-small">
              <svg class="icon_arrow-right" width="20" height="20">
                <use
                  href="/src/images/symbol-defs.svg#icon-arrow-button-circle"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="product-two product-card">
        <div class="image-container">
          <img
            class="product-image img_iced-coffee"
            src="/src/images/home-pic2.png"
            alt="iced coffee with a straw"
          />
        </div>
        <div class="product-card-2 product-description">
          <p class="product-title">ICE COFFEE</p>

          <svg class="icon_logo" width="24.84px" height="6px">
            <use href="/src/images/symbol-defs.svg#icon-marker"></use>
          </svg>

          <p class="product-text">
            Refresh and energize with our <br />perfectly brewed iced coffee,
            made <br />with high-quality beans and served <br />over ice.
          </p>
          <div class="button-div">
            <button type="button" class="button-circle-small">
              <svg class="icon_arrow-right" width="20" height="20">
                <use
                  href="/src/images/symbol-defs.svg#icon-arrow-button-circle"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="product-three product-card">
        <div class="image-container">
          <img
            class="product-image img_milkshake"
            src="/src/images/home-pic3.png"
            alt="chocolate milshake with various toppings"
          />
        </div>
        <div class="product-card-3 product-description">
          <p class="product-title">MILKSHAKES</p>

          <svg class="icon_logo" width="24.84px" height="6px">
            <use href="/src/images/symbol-defs.svg#icon-marker"></use>
          </svg>

          <p class="product-text">
            Satisfy your sweet tooth with our <br />thick, made with premium ice
            <br />cream, topped with whipped cream <br />and your favorite
            toppings.
          </p>
          <div class="button-div">
            <button type="button" class="button-circle-small">
              <svg class="icon_arrow-right" width="20" height="20">
                <use
                  href="/src/images/symbol-defs.svg#icon-arrow-button-circle"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
