.section-about {
  background-color: var(--bg-rose-light);
}
.about-container {
  padding-top: 60px;

  background-color: var(--bg-rose-light);
  display: flex;
  flex-direction: column;

  padding-bottom: 32px;

  @media screen and (min-width: 768) {
    padding-bottom: 40px;
  }
  @media screen and (min-width: 1280) {
    padding-bottom: 60px;
  }
}

.section-label {
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  @media screen and (max-width: 767) {
    width: 200px;
  }
}

.section-table {
  background-color: var(--bg-rose-light);

  display: flex;
  justify-content: center;
}

.table-container {
  display: block;
  padding: 0px;
  margin: 0px;

  @media screen and (max-width: 767) {
    background-image: url('/src/images/sectionbg1\ 1.png');
    background-size: 87.5%;
    background-repeat: no-repeat;
    background-position: 50% 71%;
    background-origin: content-box;
  }

  @media screen and (min-width: 1280) {
    background-image: url('/src/images/sectionbg1\ 1.png');
    background-repeat: no-repeat;
  }
}

.section-wrapper {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 767.9) {
    flex-direction: column;
  }
}

.about-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-left: 20px;
  margin-right: 20px;

  flex-basis: calc((100% - 2 * 20px));

  @media screen and (min-width: 768) {
    margin-top: 40px;

    flex-basis: calc((100% - 2 * 32px) / 2);
  }
  @media screen and (min-width: 1280) {
    margin-top: 40px;

    flex-basis: calc((100% - 2 * 16px) / 2);

    padding-bottom: 20px;
  }
}

.about-figure {
  display: flex;
  align-content: center;
  width: 280px;
  height: 279px;

  @media screen and (min-width: 768) {
    width: 336px;
    height: 335px;
  }
  @media screen and (min-width: 1280) {
    width: 501px;
    height: 501px;
  }
}

.about-details {
  text-align: left;

  width: 220px;

  padding-top: 40px;

  @media screen and (min-width: 768) {
    width: 334px;
    padding-top: 0px;
  }

  @media screen and (min-width: 1280) {
    padding-top: 90px;
    padding-right: 167px;
  }
}

.dark-text {
  flex-shrink: 0;

  color: var(--text-black);
  font-family: var(--primary-font);
  font-weight: 500;

  font-size: 12px;
  letter-spacing: 0.48px;
  line-height: 19.44px;

  padding-bottom: 18px;

  @media screen and (min-width: 768) {
    font-size: 14px;
    letter-spacing: 0.56px;
    line-height: 24.36px;

    padding-bottom: 32px;
  }
  @media screen and (min-width: 1280) {
    font-size: 16px;
    letter-spacing: 0.64px;
    line-height: 28.16px;

    padding-bottom: 32px;
  }
}

.light-text {
  flex-shrink: 0;

  color: var(--rose-gray);
  font-family: var(--primary-font);
  font-weight: 500;

  font-size: 12px;
  line-height: 19.44px;
  letter-spacing: 0.48px;

  padding-bottom: 20px;

  @media screen and (min-width: 768) {
    font-size: 14px;
    line-height: 27.16px;
    letter-spacing: 0.56px;

    padding-bottom: 40px;
  }
}

.btn-about {
  border: 22px;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  align-items: center;
  text-align: center;
}
.btn-about-txt {
  font-family: var(--primary-font);
  font-weight: 700;
  text-align: center;
}
.btn_read-more-text {
  display: none;
  color: var(--text-red);

  display: flex;
  // font-size: 8px;

  @media screen and (min-width: 768) {
    display: flex;
    font-size: 16px;
  }
}
.btn_read-more {
  background: var(--button-bg-white);

  display: flex;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--button-bg-white-hover);
  }

  width: 176px;
  height: 44px;
}
.icon_read-more {
  margin-left: 13.62px;
}

// Jessa
