.section-contact {
  background-color: var(--bg-rose-light);
}
.contact-container {
  display: flex;
  background-color: var(--bg-rose-light);
}
.contact-details {
  display: flex;
  flex-direction: column;
}
