.section-contact {
  //background-color: var(--bg-rose-light);

  background-image: linear-gradient(
    to top,
    var(--bg-rose-light) 85%,
    var(--bg-white) 15%
  );
}
.contact-container {
  display: flex;
  //background-color: var(--bg-rose-light);

  background-image: linear-gradient(
    to top,
    var(--bg-rose-light) 85%,
    var(--bg-white) 15%
  );
}

.contact-details {
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font);

  align-items: center;
}

h4 {
  color: var(--text-white);
}
.contact-header {
  display: flex;

  border-radius: 6px;
  flex-shrink: 0;

  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 29.76px;
  letter-spacing: 0.64px;
}
.cafe {
  background: var(--accent-yellow);

  width: 80px;
  height: 16px;

  font-size: 12px;
  line-height: 22.32px;
  letter-spacing: 0.48px;

  @media screen and (min-width: 768) {
    width: 73px;
    height: 28px;
  }
  @media screen and (min-width: 1280) {
    width: 75.103px;
    height: 28px;
  }
}
.truck {
  background: var(--accent-green);

  width: 138px;
  height: 16px;

  font-size: 12px;
  line-height: 22.32px;
  letter-spacing: 0.48px;

  @media screen and (min-width: 768) {
    height: 28px;
  }
  @media screen and (min-width: 1280) {
    height: 28px;
  }
}

.contact-container {
  justify-content: center;
}

.contact-details-list {
  display: flex;
  @media screen and (max-width: 767) {
    flex-direction: column;
  }
  @media screen and (min-width: 768) {
    gap: 32px;
  }
}
.contact-details-item {
  margin: 0;
}
.contact-details-item {
  border-radius: 24px;
  background: var(--bg-white);

  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (max-width: 767) {
    width: 280px;
    height: 412px;

    padding-right: 32px;
    padding-left: 32px;

    margin-bottom: 20px;
  }

  @media screen and (min-width: 768) {
    width: 224px;
    height: 528px;

    padding-right: 32px;
    padding-left: 32px;
  }
  @media screen and (min-width: 1280) {
    width: 368px;
    height: 538px;

    padding-right: 40px;
    padding-left: 40px;
  }

  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
}

.contact-place-text {
  font-weight: 500;

  font-size: 12px;
  line-height: 22.32px;
  letter-spacing: 0.48px;
}

.place {
  color: var(--text-black);

  margin-top: 20px;
  margin-bottom: 8px;

  @media screen and (min-width: 768) {
    font-size: 14px;
    line-height: 26.04px;

    margin-top: 32px;
    margin-bottom: 12px;
  }
  @media screen and (min-width: 1280) {
    font-size: 16px;
    line-height: 29.76px;

    margin-top: 32px;
    margin-bottom: 8px;
  }
}

.contact-desc-text {
  color: var(--text-rose-gray);

  font-weight: 500;

  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.48px;

  flex-shrink: 0;
}
.description {
  display: flex;

  margin-bottom: 19px;

  @media screen and (min-width: 768) {
    width: 175px;
    font-size: 14px;
    line-height: 23.24px;
    letter-spacing: 0.56px;

    margin-bottom: 27px;
  }
  @media screen and (min-width: 1280) {
    width: 304px;
    font-size: 16px;
    line-height: 29.28px;
    letter-spacing: 0.64px;

    margin-bottom: 27px;
  }
}

.contact-vector {
  display: flex;
  margin-top: 19px;
  margin-bottom: 19px;
  @media screen and (min-width: 768) {
    margin-top: 27px;
    margin-bottom: 27px;
  }
}
.contact-vector svg {
  color: var(--rose-gray);

  padding: 0;
  margin: 0;
  width: 100%;
  height: 10px;
}

.icon-vector-line {
  height: 8px;
  display: flex;
}

.contact-details-two {
  flex-shrink: 0;
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: 500;
  line-height: 22.32px;
  @media screen and (min-width: 768) {
    font-size: 14px;
    line-height: 26.04px;
  }
  @media screen and (min-width: 1280) {
    font-size: 16px;
    line-height: 29.76px;
  }
}
.contact-day {
  color: var(--title-black);
  letter-spacing: 0.64px;
}
.contact-time {
  color: var(--title-rose);
}
.contact-day-gap {
  margin-top: 8px;
  @media screen and (min-width: 768) {
    margin-top: 12px;
  }
}

.contact-details-link {
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  @media screen and (min-width: 768) {
    font-size: 14px;
    line-height: 25.62px;
  }
  @media screen and (min-width: 1280) {
    font-size: 16px;
    line-height: 29.28px;
  }
}
.contact-number {
  color: var(--text-rose-gray);

  &:hover,
  focus {
    color: var(--text-red);
  }
}
.contact-email {
  color: var(--text-rose-gray);

  &:hover,
  focus {
    color: var(--text-red);
  }
}

.contact-button {
  @media screen and (max-width: 767) {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 12px;
    margin-bottom: 40px;
    .location-button,
    .franchise-button {
      margin: 0;
      padding: 0;
    }
    .location-button {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 768) {
    display: flex;

    margin-top: 60px;
    margin-bottom: 40px;

    .location-button,
    .franchise-button {
      margin: 0;
      padding: 0;
    }
    .location-button {
      margin-right: 14.5px;
    }
  }
  @media screen and (min-width: 1280) {
    display: flex;

    margin-top: 60px;
    margin-bottom: 91px;

    .location-button,
    .franchise-button {
      margin: 0;
      padding: 0;
    }
    .location-button {
      margin-right: 12px;
    }
  }
}

.contact-arrow-location {
  display: flex;
}

.location-button {
  border: 22px;
  border-radius: 22px;
  background: var(--button-bg-red);
  color: var(--title-white);

  display: flex;
  justify-content: center;
  flex-shrink: 0;
  align-items: center;
  text-align: center;

  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 700;

  cursor: pointer;

  width: 161.45px;
  height: 44px;
  @media screen and (min-width: 768) {
    width: 191.45px;
  }
  @media screen and (min-width: 1280) {
    width: 198px;
    height: 44px;
  }

  &:hover,
  &:focus {
    background-color: var(--button-bg-red-hover);
  }
}

.franchise-button {
  border: 22px;
  border-radius: 22px;
  background: var(--button-bg-white);
  color: var(--title-red);
  font-weight: 700;
  margin-left: 36.4px;

  display: flex;
  justify-content: center;
  flex-shrink: 0;
  align-items: center;
  text-align: center;

  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 700;

  cursor: pointer;

  width: 161.45px;
  height: 44px;
  @media screen and (min-width: 768) {
    width: 174px;
    height: 44px;
  }
  @media screen and (min-width: 1280) {
    width: 168px;
    height: 44px;
  }

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--button-bg-white-hover);
  }
}

// Clifton James Nomus
