.section_customer-reviews {
  background-color: var(--bg-rose-light);
}
.customer-reviews_container {
  display: flex;
  background-color: var(--bg-rose-light);
}
.sample {
  width: auto;
  height: 260px;
}
