.section-footer {
  background-color: var(--bg-rose-light);
}
.footer-container {
  display: flex;
  background-color: var(--bg-rose-light);
}
.sample {
  width: auto;
  height: 260px;
}

.homemade-cream{
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.passion-with{
  font-size: 58px;
  font-weight: 400;
  letter-spacing: 3.48px;
  text-transform: uppercase;
}
.socmed-icons{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}
.footer-contact{
  display: flex;
  text-align: center;
  justify-content: flex-end;
  padding-top: 40px;
}
