.section-footer {
  background-color: var(--bg-rose-light);
}
.footer-container {
  background-color: var(--bg-rose-light);
}

.footer-text {
  width: 474px;
}
.homemade-ice-cream {
  color: var(--text-rose);

  font-family: var(--title-font);
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.2px;
  text-transform: uppercase;

  gap: 24px;
}
.with-passion {
  color: var(--text-red);

  font-family: var(--title-font);
  font-size: 58px;
  font-weight: 400;
  letter-spacing: 3.25px;
  text-transform: uppercase;
}

.footer-items{
  display: flex;
}

.homemade-ice-cream{
  display: block;
}

.socmed-items{
  position: relative;
  left: 41%;
}

.socmed-icons{
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  left: 40%;
}

.footer-contact{
  padding-top: 30px;
}

.footer-vector{
  display: block;
  position: relative;
  top: 70px;
}

.footer-vector svg{
  stroke-width: 1px;
  color: var(--gray);
}

.copyright{
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer-contact-text{
  color: var(--black);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.86em;
  letter-spacing: 0.32;
}


.footer-contact-no{
  color: var(--red);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.86em;
  letter-spacing: 0.32px;
}