.section-footer {
  background-color: var(--bg-rose-light);
}
.footer-container {
  background-color: var(--bg-rose-light);
}
.footer-wrapper {
  display: flex;

  @media screen and (max-width: 767) {
    flex-direction: column;
  }

  @media screen and (min-width: 768) {
    justify-content: space-between;
  }
}
.footer-items {
  display: flex;
  @media screen and (min-width: 1280) {
    display: flex;
    align-items: flex-end;
  }
}
.footer-label,
.footer-title {
  text-align: left;

  width: 250px;
  @media screen and (min-width: 768) {
    width: 380px;
  }
  @media screen and (min-width: 1280) {
    width: 480px;
  }
}
.socmed-items {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  padding-top: 40px;
  @media screen and (max-width: 767) {
    .socmed-icons {
      padding-bottom: 40px;
    }
  }
  @media screen and (min-width: 768) {
    justify-content: flex-end;
    padding-bottom: 19px;
    .socmed-icons {
      padding-bottom: 40px;
    }
  }
  @media screen and (min-width: 1280) {
    justify-content: space-between;
    padding-bottom: 0px;
  }
}

.socmed-icons_1,
.socmed-icons_2 {
  margin-right: 30px;
}
.socmed-icons {
  display: flex;
  flex-direction: row;
}

.command-soc-icon1,
.command-soc-icon2 {
  width: 32px;
  height: 32px;

  @media screen and (min-width: 768) {
    width: 34px;
    height: 34px;
  }
  @media screen and (min-width: 1280) {
    width: 32px;
    height: 32px;
  }
}

.command-soc-icon1 {
  display: block;
}
.command-soc-icon2 {
  display: none;
}
.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--rose);
  fill: currentColor;

  &:hover,
  &:focus {
    .command-soc-icon1 {
      display: none;
    }
    .command-soc-icon2 {
      display: block;
    }
  }
}

.footer-contact {
  font-family: var(--primary-font);
  font-weight: 700;
}
.footer-contact-txt,
.footer-contact-no {
  font-size: 12px;
  line-height: 22.32px;

  @media screen and (min-width: 768) {
    font-size: 14px;
    line-height: 26.04px;
  }
  @media screen and (min-width: 1280) {
    font-size: 16px;
    line-height: 29.76px;
    letter-spacing: 0.32px;
  }
}
.footer-contact-txt {
  color: var(--black);
}
.footer-contact-no {
  color: var(--red);
}

.footer-vector {
  display: flex;
  margin-top: 35px;
  @media screen and (min-width: 1280) {
    margin-top: 55px;
  }
}
.footer-vector svg {
  color: var(--rose-gray);

  padding: 0;
  margin: 0;
  width: 100%;
  height: 10px;
}
.footer-trademark {
  display: flex;
  justify-content: center;
}
.copyright {
  display: flex;
  align-items: center;

  //height: 26px;

  padding-top: 9px;
  padding-bottom: 4px;

  width: 150px;

  @media screen and (min-width: 767) {
    padding-top: 4px;
    padding-bottom: 8px;

    width: 290px;
  }
  @media screen and (min-width: 1280) {
    padding-top: 7px;
    padding-bottom: 4px;

    width: 290px;
  }
}
.copyright-text {
  color: var(--rose-gray);
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.28px;

  font-size: 14px;
}

// Mark Joseph Asejo
