/* HEADER Styles */
.section-hero {
  background-color: var(--accent-rose);
}
.header {
  background-color: var(--accent-rose);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;

  width: 100%;
  background-color: transparent;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-rose);
}
.nav-header {
  height: 100px;
  width: 70%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-list {
  width: 541px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-item {
  display: flex;
}
.navbar-link {
  color: var(--text-white);
  font-family: var(--primary-font);
  font-size: 16px;
  //font-style: normal;
  font-weight: 700;
  line-height: 20.83px;
  letter-spacing: 1px;
}
.navbar-link:hover {
  color: var(--text-red);
}
.btn_buy-now {
  @extend %button;
  width: 159px;
  height: 44px;

  background-color: var(--button-bg-white);
  color: var(--text-red);
}
.btn_buy-now:hover {
  background-color: var(--button-bg-white-hover);
}
/* End of HEADER Styles */

/* HERO Styles */
.section-hero {
  background-color: var(--bg-hero);
}
.hero-container {
  position: relative;

  padding-top: 147px;
  padding-bottom: 88px;
  background-color: var(--bg-hero);
}
.btn_hero {
  height: 40px;
}
.hero-button-list {
  display: flex;
  margin-top: 20px;
}
.hero-button-item:nth-child(2) {
  margin-left: 12px;
}
.hero-wrapper {
  position: relative;
  z-index: 2;

  //margin-bottom: 108px;
}
.hero-title {
  width: 277px;
  height: 137px;

  font-family: var(--title-font);
  font-weight: 400;
  font-size: 38px;
  line-height: 43.51px;
  letter-spacing: 4%;
  text-transform: uppercase;
  color: var(--text-white);
}
.hero-title-special {
  font-size: 58px;
  line-height: 52.49px;
  letter-spacing: 4%;
  color: var(--text-red);
}
.hero-wrapper-text {
  width: 200px;
  margin-top: 108px;
  margin-left: 229px;
}
.hero-text {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  color: var(--text-white);
  margin-bottom: 20px;
}
/* End of HERO Styles */
