.section-products {
  background-color: var(--bg-white);
  margin-top: 61px;
}
.products-container {
  background-color: var(--bg-white);
}
.subtitle {
  color: var(--text-rose);
  text-align: center;
  font-family: var(--title-font);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.subtitle-special {
  color: var(--text-red);
  text-align: center;
  font-family: var(--title-font);
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.48px;
  text-transform: uppercase;
  margin-top: 16px;
}

.product-details {
  display: flex;
  flex-flow: row wrap;
  gap: 32px;
  justify-content: center;
  margin-bottom: 60px;
  margin-left: auto;
}
.product-image {
  width: 368px;
  height: 394px;
  flex-shrink: 0;
  overflow: visible;
}
.product-title {
  padding-top: 165px;

  color: var(--text-white);
  text-align: center;
  font-family: var(--title-font);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.product-text {
  color: var(--text-white);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 176%; /* 28.16px */
  letter-spacing: 0.64px;
  margin: auto;
  width: 304px;
  height: 134px;
}

.icon_logo {
  margin-top: 32px;
  margin-bottom: 32px;
  fill: var(--white);
}

.product-card {
  text-align: center;
}

.product-card-1 {
  border-radius: 24px;
  background: var(--accent-rose);
}

.product-card-2 {
  border-radius: 24px;
  background: var(--accent-yellow);
}

.product-card-3 {
  border-radius: 24px;
  background: var(--accent-green);
}

.image-container {
  display: none;
  width: 100%;
  position: relative;
  z-index: 90; //2;
}

.product-description {
  position: relative;
  top: -133px; // 165-32
  z-index: 80; //1;
}

.button-circle-small {
  margin: auto;
}

.button-div {
  padding-top: 32px;
  padding-bottom: 60px;
}

.product-one::before {
  content: url(/src/images/home-pic1.png);
  position: relative;
  z-index: 90; //100;
}

.product-two::before {
  content: url(/src/images/home-pic2.png);
  position: relative;
  z-index: 90; //100;
}

.product-three::before {
  content: url(/src/images/home-pic3.png);
  position: relative;
  z-index: 90; //100;
}
