.section-products {
  background-color: var(--bg-white);
}
.products-container {
  background-color: var(--bg-white);
  padding-top: 60px;

  height: 2087px;

  @media screen and (min-width: 768) {
    height: 854px;
  }
  @media screen and (min-width: 1280) {
    height: 1053px;
  }
}
.section-title {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 767) {
    padding-top: 15px;
  }
  @media screen and (min-width: 768) {
    padding-top: 18px;
  }
  @media screen and (min-width: 1280) {
    padding-top: 16px;
  }
}

.product-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768) {
    gap: 16px;
  }
  @media screen and (min-width: 1280) {
    gap: 32px;
  }
}
.product-title {
  color: var(--text-white);
  text-align: center;
  font-family: var(--title-font);
  font-weight: 400;

  text-transform: uppercase;

  @media screen and (max-width: 767) {
    padding-top: 160px;
    font-size: 20px;
    letter-spacing: 0.8px;
  }
  @media screen and (min-width: 768) {
    padding-top: 118px;
  }
  @media screen and (min-width: 1280) {
    padding-top: 165px;
    font-size: 30px;
    letter-spacing: 1.2px;
  }
}
.product-text {
  color: var(--text-white);
  text-align: center;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;

  margin: auto;

  @media screen and (max-width: 767) {
    height: 124px;
    font-size: 14px;
    line-height: 152%; /* 21.28px */
    letter-spacing: 0.56px;

    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: 768) {
    height: 150px;
    font-size: 14px;
    line-height: 176%; /* 24.64px */
    letter-spacing: 0.56px;

    padding-left: 18px;
    padding-right: 18px;
  }
  @media screen and (min-width: 1280) {
    height: 134px;
    font-size: 16px;
    line-height: 176%; /* 28.16px */
    letter-spacing: 0.64px;

    padding-left: 32px;
    padding-right: 32px;
  }
}

.icon_logo {
  margin-top: 32px;
  margin-bottom: 32px;
  fill: var(--white);
}

.product-card {
  text-align: center;

  height: 629px;
  flex-basis: 288px;

  @media screen and (min-width: 768) {
    flex-basis: calc((100% - 3 * 16px) / 3);
    height: 611px;
  }
  @media screen and (min-width: 1280) {
    flex-basis: calc((100% - 3 * 32px) / 3);
    height: 796px;
  }

  transition: transform 250ms ease, box-shadow 250ms ease;
}

.product-card-1 {
  border-radius: 24px;
  background: var(--accent-rose);
}

.product-card-2 {
  border-radius: 24px;
  background: var(--accent-yellow);
}

.product-card-3 {
  border-radius: 24px;
  background: var(--accent-green);
}

.product-details {
  position: relative;
}
.product-description {
  position: relative;
  //top: -133px; // 165-32
  z-index: 80; //1;
  @media screen and (max-width: 767) {
    top: -138px;
  }
  @media screen and (min-width: 768) {
    top: -86px;
  }
  @media screen and (min-width: 768) {
    top: -86px;
  }
  @media screen and (min-width: 1280) {
    top: -138px;
  }
}
.button-div {
  display: block;

  @media screen and (max-width: 1279) {
    padding-top: 32px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: 1280) {
    padding-top: 32px;
    padding-bottom: 60px;
  }
}
%btn-circle {
  border-radius: 50%;
  padding: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  fill: var(--text-red);
  background-color: var(--button-bg-white);

  &:hover,
  &:focus {
    background-color: var(--button-bg-white-hover);
  }
}
.btn_product-circle-small {
  @extend %btn-circle;
  margin: auto;

  width: 40px;
  height: 40px;
}

.icon_arrow-right {
  width: 10px;
  height: 10px;
}

.product-one::before {
  display: block;
  content: '';
  background-image: url(/src/images/home-pic1.png);

  //background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  z-index: 90;

  width: 280px;
  height: 280px;
  @media screen and (min-width: 768) {
    //background-size: 224px 224px;
    width: 224px;
    height: 224px;
  }
  @media screen and (min-width: 1280) {
    //background-size: 368px 394px;
    width: 368px;
    height: 394px;
  }
}

.product-two::before {
  display: block;
  content: '';
  background-image: url(/src/images/home-pic2.png);
  //background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  z-index: 90;

  width: 280px;
  height: 280px;
  @media screen and (min-width: 768) {
    //background-size: 224px 224px;
    width: 224px;
    height: 224px;
  }
  @media screen and (min-width: 1280) {
    //background-size: 368px 394px;
    width: 368px;
    height: 394px;
  }
}

.product-three::before {
  display: block;
  content: '';
  background-image: url(/src/images/home-pic3.png);
  //background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  z-index: 90;

  width: 280px;
  height: 280px;
  @media screen and (min-width: 768) {
    //background-size: 224px 224px;
    width: 224px;
    height: 224px;
  }
  @media screen and (min-width: 1280) {
    //background-size: 368px 394px;
    width: 368px;
    height: 394px;
  }
}

// MEDIA QUERY
/*
@media (max-width: 768px) {
  .product-details {
    width: 280px;
  }

  .product-card {
    height: 629px;
  }

  .product-description {
    position: relative;
    top: -140px; // 160-20
    z-index: 80; //1;
  }

  .product-one::before {
    display: block;
    content: '';
    background-image: url(/src/images/home-pic1.png);
    //background-size: 100px, 100px; 
    width: 280px;
    height: 280px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 90;
  }

  .product-two::before {
    display: block;
    content: '';
    background-image: url(/src/images/home-pic2.png);

    width: 280px;
    height: 280px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 90;
  }

  .product-three::before {
    display: block;
    content: '';
    background-image: url(/src/images/home-pic3.png);

    width: 280px;
    height: 280px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 90;
  }

  .subtitle {
    font-size: 18px;
  }

  .subtitle-special {
    font-size: 34px;
  }

  .product-title {
    padding-top: 160px;
    font-size: 20px;
  }

  .product-text {
    font-size: 14px;
    height: 124px;
  }
}
*/
/*
@media (min-width: 768px) and (max-width: 1200px) {
  .product-details {
    width: 800px;
    gap: 16px;
  }

  .product-card {
    max-width: 224px;
    height: 611px;
  }

  .product-one::before {
    display: block;
    content: '';
    background-image: url(/src/images/home-pic1.png);

    width: 224px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 90;
  }

  .product-two::before {
    display: block;
    content: '';
    background-image: url(/src/images/home-pic2.png);

    width: 224px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 90;
  }

  .product-three::before {
    display: block;
    content: '';
    background-image: url(/src/images/home-pic3.png);

    width: 224px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 90;
  }

  .subtitle {
    font-size: 26px;
  }

  .subtitle-special {
    font-size: 48px;
  }

  .product-title {
    padding-top: 118px;
    font-size: 20px;
  }

  .product-text {
    font-size: 14px;
    height: 150px;
  }
}
*/
// Clifton
