/* BUTTONS */

/* Primary Button */
%button {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  //line-height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;

  padding: 12px 35px;
  border-radius: 22px;

  text-align: center;
  cursor: pointer;

  width: 160px;
  height: 44px;

  @media screen and (min-width: 1280) {
    display: contents;
    width: 159px;
    height: 44px;
  }
}

/* Hero Buttons */
%button-hero {
  display: flex;
  padding: 11px 24px;
  border-radius: 20px;

  text-align: center;

  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 18.23px;
}
.button-hero-white {
  @extend %button-hero;

  background-color: var(--button-bg-white);
  color: var(--text-red);

  &:hover,
  &:focus {
    background-color: var(--button-bg-white-hover);
  }
}

.button-hero-red {
  @extend %button-hero;

  background-color: var(--button-bg-red);
  color: var(--text-white);

  &:hover,
  &:focus {
    background-color: var(--button-bg-red-hover);
  }
}

/* Circle Buttons */
%button-circle {
  border-radius: 50%;
  padding: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  fill: var(--text-red);
  background-color: var(--button-bg-white);

  &:hover,
  &:focus {
    background-color: var(--button-bg-white-hover);
  }
}
.button-circle-small {
  @extend %button-circle;

  @media screen and (min-width: 768) {
    width: 18px;
    height: 18px;
  }
  @media screen and (min-width: 1280) {
    width: 26px;
    height: 26px;
  }
}

.btn_buy-now {
  @extend %button;
  margin-top: 37px;

  z-index: 10;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;

  width: 159px;
  height: 44px;

  background-color: var(--button-bg-white);
  color: var(--text-red);

  &:hover {
    background-color: var(--button-bg-white-hover);
  }

  @media screen and (max-width: 767) {
    display: none;
  }

  @media screen and (max-width: 1279) {
    margin-top: 37px;
    margin-left: 32px;
  }
}
.icon_buy-now {
  margin-left: 8px;
}

.btn_mm-buy-now {
  @extend %button;

  @media screen and (max-width: 767) {
    margin-top: 26px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 768) {
    margin-top: 24px;
    margin-bottom: 33px;
  }
  z-index: 10;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;

  width: 209px;
  height: 44px;

  background-color: var(--button-bg-white);
  color: var(--text-red);

  &:hover {
    background-color: var(--button-bg-white-hover);
  }
}
.icon_mm-buy-now {
  margin-left: 14px;
}
.btn-hero {
  border: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  align-items: center;
  text-align: center;
}
.btn-hero-txt {
  font-family: var(--primary-font);
  font-weight: 400;
  text-align: center;
}

.btn_products {
  background: var(--button-bg-red);

  display: flex;
  position: relative;
  z-index: 50;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--button-bg-red-hover);
  }

  @media screen and (max-width: 767) {
    width: 61.2px;
    height: 24px;
  }
  @media screen and (min-width: 768) {
    width: 61.2px;
    height: 24px;
  }
  @media screen and (min-width: 1280) {
    width: 107px;
    height: 40px;
  }
}

.btn_products-text {
  display: none;
  color: var(--text-white);

  display: flex;
  font-size: 8px;

  @media screen and (min-width: 1280) {
    display: flex;
    font-size: 14px;
  }
}

.btn_howitsmade {
  background: var(--button-bg-white);

  display: flex;
  position: relative;
  z-index: 50;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--button-bg-white-hover);
  }

  width: 82.28px;
  height: 24px;

  @media screen and (min-width: 1280) {
    width: 138px;
    height: 40px;
  }
}
.btn_howitsmade-text {
  display: none;
  color: var(--text-red);

  display: flex;
  font-size: 8px;

  @media screen and (min-width: 1280) {
    display: flex;
    font-size: 14px;
  }
}
